absl-py
astroid
atomicwrites
attrs
chardet
cloudpickle
cycler
decopatch
deepdiff
docopt
enum34
future
gym
idna
imageio
isort
jsonpickle
kiwisolver
lazy-object-proxy
makefun
matplotlib
mccabe
mock
more-itertools
mpyq
munch
numpy
ordered-set
pathlib2
pbr
pillow
pip
pluggy
portpicker
probscale
protobuf
py
pygame
pyglet
pylint
pyparsing
pysc2
pytest
pytest-cases
python-dateutil
pyyaml
requests
s2clientprotocol
s2protocol
sacred
scipy
six
sk-video
snakeviz
tensorboard-logger
torch
torchvision
tornado
typed-ast
urllib3
websocket-client
whichcraft
wrapt
git+https://github.com/oxwhirl/smac.git